html, body {
  height: 100% !important;
  margin: 0 !important;
  overflow-y: auto; /* allow scrolling when needed */
}

#root {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

main {
  flex: 1 !important; /* pushes footer down */
}
